@import "./base.css";

html, body {
  box-sizing: border-box;
}

body {
  background-color: #66b1ff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  min-height: 100vh;
  max-height: 100vh;
}

.card-header span {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
}

a:visited {
  color: inherit;
}

@media (max-width: 1024px) {
  section.el-container {
    flex-direction: column;
  }
  main > div.el-tabs {
    max-height: unset !important;
  }
  main.el-main {
    padding: 1rem 0 0 0 !important;
    width: 320px;
  }
  div.el-collapse-item__header {
    line-height: 1rem;
  }
}